*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    overflow-x:hidden;
}
.navbar-brand{
    margin-left:40px;
}
.navbar-nav{
    margin-left:10em;
}
.nav-item{
    padding:0 4em;
}
.home{
    height:91.5vh;
    background:  linear-gradient(
        rgba(0, 0, 0, 0.9), 
        rgba(0, 0, 0, 0.9)
      ),url('./images/code.PNG');
    color:white;
    z-index:-1;
    background-repeat:no-repeat;
    background-size:cover;

}
.header-text,
.header-para{
    z-index:1;
}
.header-para{
    margin-top:200px;
    margin-left:600px;
    font-size:2em;
}
.header-text{
    opacity:0;
}
.blogs{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.blog-para{
    margin-top:100px;
    margin-left:50px;
}
.img-blog{
    margin-top:50px;
    margin-left:80px;
}
.cards {
    box-shadow: 0 4px 8px 0 lightgray;
    transition: 0.3s;
    width:400px;
    height:150px;
    margin-top:90px;
    margin-left:30px;

  }
  
  .cards:hover {
    box-shadow: 0 8px 16px 0 lightgray;
  }
  
  .container {
    padding: 2px 16px;
  }
  .about{
      margin-top:90px;
  }
  .card-cont{
      display:grid;
      grid-template-columns:1fr 1fr 1fr;
  }
  .main-footer {
    background-color: lightgray;
    width: 100vw;
    height: 90px;
  }
  
  .footer {
    margin-top: 60px;
    margin-left: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  
  .footer-para {
    margin-top: 40px;
  }